# <IfModule mod_headers.c>
# header("Access-Control-Allow-Origin: http://localhost:9000");
# header("Access-Control-Allow-Methods: GET, POST, PUT, DELETE, OPTIONS");
# header("Access-Control-Allow-Headers: Content-Type, Authorization, X-Requested-With");
#     Header set Access-Control-Allow-Credentials "true"
# </IfModule>

# RewriteEngine On
# RewriteCond %{REQUEST_METHOD} OPTIONS
# RewriteRule ^(.*)$ $1 [R=200,L]
# RewriteCond %{HTTP:Authorization} .
# RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

